@tailwind base;
@tailwind components;
@tailwind utilities;

/* Ensure the body and html are styled to fill the screen */
html, body {
    @apply h-full w-full m-0 p-0;
  }

  /* Hide scrollbar for all browsers */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

  